#app {
  background-color: gray;
}

#getStarted {
  background-color: red
}

#startButton {
  background-color: blue
}

#houseButtons {
  background-color: yellowgreen
}

#studentCards {
  width: fit-content;
}

#studentCards img {
  width: 10rem;
  height: 10rem;

}
